@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@400;500;600;700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    padding: 50px 0px 0px 0px;
    background-color:hsl(217, 28%, 15%) ;
    color: hsl(0, 0%, 100%);
}
.header img{
    height: 40px;
}
.link a{
   font-size: 13px;
   text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
    font-weight: 700;
}
.banner{
    text-align: center;
    padding-top: 80px;
}
.banner img{
    height: 100%;
    width: 50%;
}
.banner h3{
    padding: 0px 300px;
}
.container2{
    padding: 0px 75px;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.bannerOtherText{
    padding: 20px 280px 150px 280px;
    text-align: center;
}
.bannerOtherText p{
    font-size: 14px;
    padding: 10px 65px;
    font-family: 'Open Sans', sans-serif;
}
.bannerOtherText button{
    background-color: hsl(198, 60%, 50%);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 65px;
    font-weight: bold;
    font-size: 12px;
}
.bannerOtherText button:hover{
    background-color: hsl(176, 68%, 64%);
}
.main_files{
    background-color: hsl(218, 28%, 13%);
}
.files{
    margin: 0px 160px;
}
.files p{
    font-size: 12px;
}
.content{
    padding: 0px 90px 50px 90px;
}

.productive{
    padding: 50px;
}
.productive img{
    height: 100%;
    width: 100%;
}
.productiveText{
    padding-top: 120px;
}
.productiveText h3{
    margin-right: 200px;
    font-size: 35px;
}
.productiveText p{
    margin-right: 100px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.productiveText a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 3px;
}

.productiveText a:hover{
    color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 100%);
}
.testimonial{
    padding:80px 0px;
    margin: 0px 30px;
}
.testimonial_content{
    background-color: hsl(219, 30%, 18%); 
    margin-right: 30px;
    border-radius: 5px;
    padding: 25px 20px 5px 20px;
}
.quotesImg{
    position: relative;
    bottom: -9px;
}
.testimonial_container{
    position: relative;
    margin-left: 1px;
    
}
.testimonial_content p{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 1px;
}

.semi_content h6{
    font-size: 12px;
}
.semi_content p{
    margin-top: -5px;
    font-size: 9px;
}  

.early_access{
    margin:100px 190px -100px 190px;
    padding:30px 75px;
    background-color:hsl(217, 28%, 15%);
    position: relative;
}
.early_access p{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.early_access button{
    background-color: hsl(198, 60%, 50%);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 12px;
}
.early_access button:hover{
    background-color: hsl(176, 68%, 64%);
}
.early_input {
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
    font-size: 10px;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}

.early_input:focus {
    box-shadow: none;
    border: 1px none  #FFF;
    color: #000;
}
.footer{
    padding: 180px 100px 50px 100px;
    background-color: hsl(216, 53%, 9%);
    font-family: 'Open Sans', sans-serif;
}
.footer .logo{
    height: 40px;
}
.footerText{
    font-size: 12px;
    text-align: justify;
}
.footerText a:hover{
    font-weight: bold;
    cursor: pointer;
}
.footer .icon{
    height: 13px;
}
.socialMedia{
    text-align: right;
}
.socialMedia .icon a{
    border: 1.5px solid #FFF;
    border-radius: 16px;
    padding: 4px 10px;
    text-align: center;
    margin-right: 10px;
}
.socialMedia img{
    height: 15px;
    padding-bottom: 5px;
    align-content: center;
    text-align: center;
}
.socialMedia .icon a:hover{
        border: 2px solid hsl(176, 68%, 64%);
}
@media only screen and (max-width:992px) {
    body{
        padding: 40px 0px 0px 0px;
    }
    .header img{
        height: 25px;
    }
    .link a{
        font-size: 16px;
    }
    .banner img{
        height: 100%;
        width: 100%;
        padding: 0px 20px;
    }
    .banner h3{
        padding: 0px 0px;
    }
    .container2{
        padding: 0px 0px;
        background-image: url(../images/bg-curvy-mobile.svg);
    }

    .bannerOtherText{
        padding: 0px 20px;
        text-align: center;
    }
    .bannerOtherText p{
        font-size: 15px;
        padding: 0px 15px;

    }
    .files{
        margin: 80px 0px;
    }
    .content{
        padding: 50px 25px;
    }
    .files p{
        font-size: 15px;
    }
    .productive{
        padding: 0px 10px;
    }
    .productiveText{
        padding-top: 50px ;
    }
    .productive img{
        height: 100%;
        width: 100%;
    }
    .productiveText h3{
        margin-right: 0px;
        font-size: 20px;
    }
    .productiveText p{
        margin-right: 0px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .testimonial{
        padding:80px 20px;
        margin: 0px;
    }
    .quotesImg{
        bottom: -35px;
    }
    .testimonial_content{
        margin-right: 0px;
        border-radius: 5px;
        padding: 15px;
    }
  
      
.early_access{
    margin:80px 10px -140px 10px;
    padding:20px 30px;
    background-color:hsl(217, 28%, 15%);
}
.early_access p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.early_access button{
    background-color: hsl(198, 60%, 50%);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
}
.early_access button:hover{
    background-color: hsl(176, 68%, 64%);
}
.early_input {
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
    font-size: 10px;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.footer{
    padding: 200px 50px 50px 50px;
    background-color: hsl(216, 53%, 9%);
    font-family: 'Open Sans', sans-serif;
}
.footerText{
    font-size: 13px;
    text-align: justify;
}

.socialMedia{
    text-align: center;
    padding-top: 70px;
}

}