body{
 background-color: #e9e9e9;
}

.banner{
    background-color: black;
    color:#FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav_design{
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 600;
    
}
.nav_list:hover{
    color:red
}
.main_logo{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 70px;
}

.main_post{
    padding-left: 50px;
    padding-right: 5px;
}
.myseconddiv{
    padding: 20px 20px 0px 20px;
}
 .myseconddiv img{
    height: 70px;
     width: 100px;
 }

 .myseconddiv p{
    text-transform: uppercase;
    padding:0px 10px;
    font-size: 13px;
 }